
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


ul li{
  display:inline-block;
  clear: both;
  padding: 12px;
  border-radius: 14px;
  font-family: MONOSPACE;
  font-size: 11px;
  margin-top: 0px;
width: 97%;
    margin-right: 10px;

    margin-left: 10px;
}



ul li.participant{
  padding: 10px;
  border-radius: 12px;
  margin-top: 5px;

    margin-right: 5px;

    margin-left: 5px;
}

.participant{
    background: #0084ff;
    background-image: linear-gradient(319deg,#fce055,#256eff 37%,#46237a);
    color: #fff;
  margin:0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
       width: 100%;
}
