.toggleSideBarRight{
  z-index: 20;  position: fixed;  right: 7px;    top: 66px;  cursor: pointer;color:#36f !important;
}


.toggleSideBarLeft{
  z-index: 20;
    position: fixed;
    left: 7px;
    top: 66px;
    cursor: pointer;color:#36f !important;
}


.defaultSettingsButton{
  padding-left: 10px;
    padding-right: 10px;
}
