<ng-template #qrCode let-data let-ref="qrCodeRef">
      <nb-card>
        <nb-card-header>Scan QR</nb-card-header>
        <nb-card-body style="margin:10px;color:goldenrod;">

          <div style="">






            <div class="qrCodeWrapper">
              <img [src]="qrCodeURLSafe" alt="" class="img-thumbnail" class="qrCodeShowGenerate">
            </div>




              </div>
        </nb-card-body>
        <nb-card-footer>
          <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Close</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>


<div [hidden]='!isOwner'>

<p style=" "class="channelSettingsOption"> Challenge</p>
<mat-form-field style="width: 24%;    padding: 0;">
<mat-select [(value)]="challengeFlowFlag" (selectionChange)="challengeFlowFlagChanged()"  >
                 <mat-option  [value]="1" >
                    On
                </mat-option>
                <mat-option  [value]="0" >
                   Off
               </mat-option>

      </mat-select>
      </mat-form-field>
<p  class="channelSettingsOption mTop10" > Invite Codes</p>
<div style="margin-bottom: 4px;    height: 28px;">

 Include Folders:  <mat-form-field style="width: 19%;" > <mat-select [(value)]="includeFolderStructure" (selectionChange)="newInviteExportFoldersChanged($event.value)" >

                   <mat-option  [value]="1" >
                      On
                  </mat-option>
                  <mat-option  [value]="0" >
                     Off
                 </mat-option>


        </mat-select></mat-form-field>
   </div>
   <div style="">

Max:  <mat-form-field style="width: 24%;"> <mat-select [(value)]="newInviteCodeMax" (selectionChange)="newInviteCodeMaxChanged($event.value)"  >
                <mat-option  [value]="1" >
                   1
               </mat-option>
               <mat-option  [value]="5" >
                  5
              </mat-option>
              <mat-option  [value]="10" >
                 10
             </mat-option>
             <mat-option  [value]="20" >
                20
            </mat-option>
            <mat-option  [value]="40" >
               40
           </mat-option>
           <mat-option  [value]="80" >
              80
          </mat-option>
          <mat-option  [value]="100" >
             100
         </mat-option>
         <mat-option  [value]="1000" >
            1k
        </mat-option>
        <mat-option  [value]="1000000" >
           1m
       </mat-option>
       <mat-option  [value]="10000000" >
          10m
      </mat-option>

     </mat-select>
</mat-form-field>
     <button nbButton size="small" (click)="generateInviteCode()" class="generateInviteCodeButton" style="color:#99aca2;">
          Generate
        </button>
</div>

<ul>
<li  *ngFor="let inviteCode of channelInviteCodes" class='inviteCodeListItem' ><div class="inviteCodeUsers"> {{ inviteCode['used'] }} / {{ inviteCode['max'] }} </div>   <div class="inviteCodeItem"> {{ inviteCode['link'] }} </div>
<nb-icon icon="copy-outline" class="inviteCodeCopy" [cdkCopyToClipboard]="inviteCode['link']"></nb-icon>
<nb-icon icon="camera-outline" class="deleteCode" (click)="showQR(inviteCode['link'])"></nb-icon>
<nb-icon icon="trash-2-outline" class="deleteCode" (click)="removeInviteCode(inviteCode['link'])"></nb-icon>
</li>
</ul>

</div>



<button mat-stroked-button color="primary" (click)="deleteCurrentChannel()" class="defaultSettingsButton"  style="margin-right:10px;    margin-top: 20px;
    color: #f14f31ab;
    border: 1px solid #f14f3191 !important;">Remove Channel</button>
