
<div class="captchaScreen" [hidden]="!showChallengeScreen" >
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper">
       <img [src]="captchaImageResource" class="frameThumbnail" style="    width: 80%;  margin: 10%;margin-top:0;">
       <form class="example-form">
         <mat-form-field class="example-full-width">
           <mat-label>Captcha Text</mat-label>
           <input matInput placeholder="Captcha Text" value="" name='captchaCode' [(ngModel)]='captchaCode'>
         </mat-form-field>
         </form>

         <button mat-stroked-button color="primary" (click)="goToJoin()" class="thickOutlineButton marginRight20">Back</button>

       <button mat-stroked-button color="primary" (click)="completedChallenge(captchaCode)" class="thickOutlineButton">I Aced That IQ Test</button>


      </div>
    </div>
</div>

<div class="inviteScreen" [hidden]="!showInviteScreen" >
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper">
      Enter Invite code:

      <form class="example-form">
        <mat-form-field class="example-full-width" color="primary">
          <mat-label>Invite Code</mat-label>
          <input matInput placeholder="Invite Code" value="" name='inviteToken' [(ngModel)]='inviteToken'>
        </mat-form-field>
        </form>

<br><br>
        <button mat-stroked-button color="primary" (click)="goToJoin()" class="thickOutlineButton marginRight20">Back</button>

      <button mat-stroked-button color="primary" (click)="completedChallenge(inviteToken)" class="thickOutlineButton">Let me in!</button>


      </div>
    </div>
</div>

<div class="joinScreen" [hidden]="!showJoinScreen">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper">
        <button mat-stroked-button color="primary" (click)="goToInviteScreen()" class="thickOutlineButton">I have an invite code!</button><br><br>
        <button mat-stroked-button color="primary" (click)="goToCaptcha()" class="thickOutlineButton">Give me the challenge!</button>
    </div>
  </div>
</div>

<div [hidden]="showJoinScreen || showInviteScreen || showChallengeScreen || channel == noChannelSelected" class="chatScreen">
       <nb-chat title="Channel: {{channel}}">
         <nb-chat-message *ngFor="let msg of messages"
           [type]="msg.type"
           [message]="msg.message"
           [reply]="msg.reply"
           [sender]="msg.channelPubKey"
           [date]="msg.timestamp"
           [files]="msg.files"
           [quote]="msg.quote"
           [latitude]="msg.latitude"
           [longitude]="msg.longitude"
           [avatar]="msg.participant.avatar">
        </nb-chat-message>

        <nb-chat-form (send)="publishChannelMessage($event)" [dropFiles]="true">
        </nb-chat-form>

        </nb-chat>
</div>
