.browse-files-button{
    border-radius:3px;
  padding:5px;
  color:purple;
}


.importButton{
  color:purple !important;
}





.joinScreen, .inviteScreen, .captchaScreen{
  background-color: #222b45;
      padding: 20px;
          text-align: center;
}

.joinScreen,.inviteScreen,.captchaScreen,.chatScreen{
  height:100%;
}


.joinScreen > div,.inviteScreen > div,.captchaScreen > div,.chatScreen{
  height:100%;
}
