

button[nbTreeGridRowToggle] {
  background: transparent;
  border: none;
  padding: 0;
}

.search-label {
  display: block;
}

.search-input{
  background: transparent;
    color: white;
    padding: 5px;
    font-size: 12px;
    width: 100%;
        margin-top: 1rem;
  margin-bottom: 1rem;
  width: 78%;
  margin-left:1%;
}

.addChannelButton{
  color: #8674b7bf;
  margin-left: 5%;
  position: relative;
  top: 1px;
  background-color: #29217eb0;
  /* padding: 0px; */
  border: 1px solid;
  border-radius: 5px;
  padding: 4px;
  opacity: 0.7;
}


.nb-column-name {
  width: 80%;
}
.nb-column-items {
  width: 20%;
}


:host nb-layout-header ::ng-deep nav {
 justify-content: flex-end;
}
