<ng-template #createPop let-data let-ref="createRef">
      <nb-card>
        <nb-card-header>Create Channel</nb-card-header>
        <nb-card-body style="color:goldenrod;">

          <div style="padding: 20px;">
            Folder:
            <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                    <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                        {{ folder.data.name }}
                    </mat-option>
                   </mat-select>
            </div>
            <div style="padding: 20px;
    padding-bottom: 34px;
    padding-top: 0px;
    color: white !important;">
              <input matInput placeholder="Channel Name" value="" name='newChannelName' [(ngModel)]='newChannelName' style="color: black;
    background-color: goldenrod;
    padding: 7px;">
              </div>
        </nb-card-body>
        <nb-card-footer>
          <button mat-stroked-button color="primary" (click)="createNewChannel(newChannelName);" style="    margin-right: 20px;
    border: 1px solid #ffffff24;">Create</button>
          <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>


    <ng-template #qrPop let-data let-ref="qrRef">
          <nb-card>
            <nb-card-header>Scan QR</nb-card-header>
            <nb-card-body style="color:goldenrod;">

              <div class='qrScanWrapper'>
              <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="qrSuccessHandler($event)"
                [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
                </div>

            </nb-card-body>
            <nb-card-footer>
              <!-- <button mat-stroked-button color="primary" (click)="createNewChannel(newChannelName);" style="    margin-right: 20px;
        border: 1px solid #ffffff24;">Use</button> -->
              <button mat-stroked-button color="primary" (click)="closeQR()" style="    border: 1px solid #ffffff24;">Cancel</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>


    <ng-template #import let-data let-ref="importRef">
          <nb-card>
            <nb-card-header>Import Channel</nb-card-header>
            <nb-card-body style="color:goldenrod;">

              <div style="padding: 20px;">
                Import Folder Structure:
                <mat-form-field style="width: 19%;" > <mat-select [(value)]="importFolderStructure" (selectionChange)="newInviteImportFoldersChanged($event.value)" >

                                 <mat-option  [value]="1" >
                                    On
                                </mat-option>
                                <mat-option  [value]="0" >
                                   Off
                               </mat-option>


                      </mat-select></mat-form-field>
              </div>

              <div style="padding: 20px;">
                Place Into Folder:
                <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                        <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                            {{ folder.data.name }}
                        </mat-option>
                       </mat-select>
                </div>
                <div style="padding: 20px;
        padding-bottom: 34px;
        padding-top: 0px;
        color: white !important;">
                  <input matInput placeholder="Invite Code" value="" name='inviteCodeHex' [(ngModel)]='inviteCodeHex' style="color: black;
        background-color: goldenrod;
        padding: 7px;    margin-right: 5%;
    width: 80%;">
        <nb-icon icon="camera-outline" class="deleteCode scanQRCode" (click)="scanQR()" style="  "></nb-icon>
                  </div>
            </nb-card-body>
            <nb-card-footer>
              <button mat-stroked-button color="primary" (click)="importNewChannel(inviteCode);" style="    margin-right: 20px;
        border: 1px solid #ffffff24;">Import</button>
              <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>



        <ng-template #folder let-data let-ref="folderRef">
              <nb-card>
                <nb-card-header>Create Folder</nb-card-header>
                <nb-card-body style="color:goldenrod;">

                  <div style="padding: 20px;">
                    Folder:
                    <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                            <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                                {{ folder.data.name }}
                            </mat-option>
                           </mat-select>
                    </div>
                    <div style="padding: 20px;
            padding-bottom: 34px;
            padding-top: 0px;
            color: white !important;">
                      <input matInput placeholder="Folder Name" value="" name='newFolderName' [(ngModel)]='newFolderName' style="color: black;
            background-color: goldenrod;
            padding: 7px;">
                      </div>
                </nb-card-body>
                <nb-card-footer>
                  <button mat-stroked-button color="primary" (click)="createNewFolder(newFolderName);" style="    margin-right: 20px;
            border: 1px solid #ffffff24;">Create</button>
                  <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
                </nb-card-footer>
              </nb-card>
            </ng-template>



<mat-form-field style="width: 169px;
    margin-top: 20px;color:#598adb;">
   <input matInput placeholder="Search" (input)="filterChanged($event.target.value)">
</mat-form-field>
<button outline  [nbContextMenu]="items" size="small" class="addChannelButton">
     <nb-icon icon="plus-outline" style="font-size: 18px;width:auto;"></nb-icon>
   </button>
   <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" >
             <mat-tree-node *matTreeNodeDef="let node"
                     matTreeNodeToggle matTreeNodePadding
                     (dragover)="handleDragOver($event, node);"
                     (dragend)="handleDragEnd($event);"
                     (drop)="handleDrop($event, node);"
                     [ngClass]="getStyle(node)" (click)="selectChannel(node.item)">

                     <!-- <div  class="treeNodeContrainerSingle {{node.item}}" *ngIf="!isFolder(node.item)"> -->

      <div  class="treeNodeContainerSingle {{node.item}}" [class.active-channel]="selectedChannel === node.item" >
       <!-- <button mat-icon-button disabled></button> -->
       <nb-icon icon="activity"></nb-icon>
         <span class="checklist-leaf-node"  draggable="true"
                       (dragstart)="handleDragStart($event, node);">
           <span class="nodeContent"  [ngClass]="{'drag-start': dragNode===node}" >
                {{node.item}}
           </span>
         </span>

   </div>



     </mat-tree-node>

     <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                       matTreeNodePadding
                        (dragover)="handleDragOver($event, node);"
                       (dragend)="handleDragEnd($event, node);"
                       (drop)="handleDrop($event, node);"
                       [ngClass]="getStyle(node)">

                       <div class="treeNodeContainerFolder"  (contextmenu)="onContextMenu($event, node.item)">
                         <!-- (contextmenu)="onContextMenu($event, node.item)"> -->
         <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.item">
           <mat-icon class="mat-icon-rtl-mirror" >
             {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
           </mat-icon>
         </button>
         <nb-icon icon="folder-outline"></nb-icon>

           <span class="checklist-leaf-node"  draggable="true"
                         (dragstart)="handleDragStart($event, node);">
             <span class="nodeContent"  [ngClass]="{'drag-start': dragNode===node}">
               {{getFolderNameFromId(node.item)}}
               <!-- {{node.item}} -->



             </span>
           </span>

           </div>
           <!-- <button mat-icon-button (click)="deleteItem(node)"><nb-icon icon="trash-2-outline"></nb-icon></button> -->

         <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add_circle_outline</mat-icon></button> -->
       </mat-tree-node>
     </mat-tree>

     <div style="visibility: hidden; position: fixed"
         [style.left]="contextMenuPosition.x"
         [style.top]="contextMenuPosition.y"
         [matMenuTriggerFor]="contextMenu">
     </div>

     <mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
		<button mat-menu-item (click)="deleteFolder(item)">Delete</button>
		<button mat-menu-item (click)="onContextMenuAction2(item)">Rename</button>
    <button mat-menu-item (click)="onContextMenuAction2(item)">Export</button>

	</ng-template>
</mat-menu>

   <span #emptyItem></span>
