<ng-template #create let-data let-ref="createRef">
      <nb-card>
        <nb-card-header>Create Channel</nb-card-header>
        <nb-card-body style="color:goldenrod;">

          <div style="padding: 20px;">
            Folder:
            <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                    <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                        {{ folder.data.name }}
                    </mat-option>
                   </mat-select>
            </div>
            <div style="padding: 20px;
    padding-bottom: 34px;
    padding-top: 0px;
    color: white !important;">
              <input matInput placeholder="Channel Name" value="" name='newChannelName' [(ngModel)]='newChannelName' style="color: black;
    background-color: goldenrod;
    padding: 7px;">
              </div>
        </nb-card-body>
        <nb-card-footer>
          <button mat-stroked-button color="primary" (click)="createNewChannel(newChannelName);" style="    margin-right: 20px;
    border: 1px solid #ffffff24;">Create</button>
          <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>


    <ng-template #import let-data let-ref="importRef">
          <nb-card>
            <nb-card-header>Import Channel</nb-card-header>
            <nb-card-body style="color:goldenrod;">

              <div style="padding: 20px;">
                Import Folder Structure:
                <mat-form-field style="width: 19%;" > <mat-select [(value)]="importFolderStructure" (selectionChange)="newInviteImportFoldersChanged($event.value)" >

                                 <mat-option  [value]="1" >
                                    On
                                </mat-option>
                                <mat-option  [value]="0" >
                                   Off
                               </mat-option>


                      </mat-select></mat-form-field>
              </div>

              <div style="padding: 20px;">
                Place Into Folder:
                <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                        <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                            {{ folder.data.name }}
                        </mat-option>
                       </mat-select>
                </div>
                <div style="padding: 20px;
        padding-bottom: 34px;
        padding-top: 0px;
        color: white !important;">
                  <input matInput placeholder="Invite Code" value="" name='inviteCode' [(ngModel)]='inviteCode' style="color: black;
        background-color: goldenrod;
        padding: 7px;">
                  </div>
            </nb-card-body>
            <nb-card-footer>
              <button mat-stroked-button color="primary" (click)="importNewChannel();" style="    margin-right: 20px;
        border: 1px solid #ffffff24;">Import</button>
              <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>



        <ng-template #folder let-data let-ref="folderRef">
              <nb-card>
                <nb-card-header>Create Folder</nb-card-header>
                <nb-card-body style="color:goldenrod;">

                  <div style="padding: 20px;">
                    Folder:
                    <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                            <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                                {{ folder.data.name }}
                            </mat-option>
                           </mat-select>
                    </div>
                    <div style="padding: 20px;
            padding-bottom: 34px;
            padding-top: 0px;
            color: white !important;">
                      <input matInput placeholder="Folder Name" value="" name='newFolderName' [(ngModel)]='newFolderName' style="color: black;
            background-color: goldenrod;
            padding: 7px;">
                      </div>
                </nb-card-body>
                <nb-card-footer>
                  <button mat-stroked-button color="primary" (click)="createNewFolder();" style="    margin-right: 20px;
            border: 1px solid #ffffff24;">Create</button>
                  <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
                </nb-card-footer>
              </nb-card>
            </ng-template>



<input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" placeholder="Search">
<button outline  [nbContextMenu]="items" size="small" class="addChannelButton">
     Add
   </button>

<table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

  <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
  <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

  <ng-container [nbTreeGridColumnDef]="customColumn">
    <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
      <!-- {{customColumn}} -->
    </th>
    <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="selectChannel(row.data[customColumn])" nb-fs-icon style="width:100%;overflow:hidden;text-overflow:ellipsis;break-work:any;white-space:nowrap">
      <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon>
      {{row.data[customColumn]}}
    </td>
  </ng-container>

  <ng-container *ngFor="let column of defaultColumns; let index = index"
                [nbTreeGridColumnDef]="column"
                [showOn]="getShowOn(index)">
    <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
      {{column}}
    </th>
    <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
  </ng-container>

</table>
