<ng-template #create let-data let-ref="createRef">
      <nb-card>
        <nb-card-header>Create Channel</nb-card-header>
        <nb-card-body style="color:goldenrod;">

          <div style="padding: 20px;">
            Folder:
            <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                    <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                        {{ folder.data.name }}
                    </mat-option>
                   </mat-select>
            </div>
            <div style="padding: 20px;
    padding-bottom: 34px;
    padding-top: 0px;
    color: white !important;">
              <input matInput placeholder="Channel Name" value="" name='newChannelName' [(ngModel)]='newChannelName' style="color: black;
    background-color: goldenrod;
    padding: 7px;">
              </div>
        </nb-card-body>
        <nb-card-footer>
          <button mat-stroked-button color="primary" (click)="createNewChannel(newChannelName);" style="    margin-right: 20px;
    border: 1px solid #ffffff24;">Create</button>
          <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>


    <ng-template #import let-data let-ref="importRef">
          <nb-card>
            <nb-card-header>Import Channel</nb-card-header>
            <nb-card-body style="color:goldenrod;">

              <div style="padding: 20px;">
                Import Folder Structure:
                <mat-form-field style="width: 19%;" > <mat-select [(value)]="importFolderStructure" (selectionChange)="newInviteImportFoldersChanged($event.value)" >

                                 <mat-option  [value]="1" >
                                    On
                                </mat-option>
                                <mat-option  [value]="0" >
                                   Off
                               </mat-option>


                      </mat-select></mat-form-field>
              </div>

              <div style="padding: 20px;">
                Place Into Folder:
                <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                        <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                            {{ folder.data.name }}
                        </mat-option>
                       </mat-select>
                </div>
                <div style="padding: 20px;
        padding-bottom: 34px;
        padding-top: 0px;
        color: white !important;">
                  <input matInput placeholder="Invite Code" value="" name='inviteCodeHex' [(ngModel)]='inviteCodeHex' style="color: black;
        background-color: goldenrod;
        padding: 7px;">
                  </div>
            </nb-card-body>
            <nb-card-footer>
              <button mat-stroked-button color="primary" (click)="importNewChannel(inviteCode);" style="    margin-right: 20px;
        border: 1px solid #ffffff24;">Import</button>
              <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>



        <ng-template #folder let-data let-ref="folderRef">
              <nb-card>
                <nb-card-header>Create Folder</nb-card-header>
                <nb-card-body style="color:goldenrod;">

                  <div style="padding: 20px;">
                    Folder:
                    <mat-select [(value)]="newChannelFolder" (selectionChange)="newChannelFolderChanged($event.value)" style="width: 80%;margin-left:10px;" >
                            <mat-option *ngFor="let folder of channelFolderListArray" [value]="folder.id" >
                                {{ folder.data.name }}
                            </mat-option>
                           </mat-select>
                    </div>
                    <div style="padding: 20px;
            padding-bottom: 34px;
            padding-top: 0px;
            color: white !important;">
                      <input matInput placeholder="Folder Name" value="" name='newFolderName' [(ngModel)]='newFolderName' style="color: black;
            background-color: goldenrod;
            padding: 7px;">
                      </div>
                </nb-card-body>
                <nb-card-footer>
                  <button mat-stroked-button color="primary" (click)="createNewFolder(newFolderName);" style="    margin-right: 20px;
            border: 1px solid #ffffff24;">Create</button>
                  <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Cancel</button>
                </nb-card-footer>
              </nb-card>
            </ng-template>



<input nbInput id="search" class="search-input" placeholder="Search">
<button outline  [nbContextMenu]="items" size="small" class="addChannelButton">
     <nb-icon icon="plus-outline" style="font-size: 18px;width:auto;"></nb-icon>
   </button>


   <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList (cdkDropListDropped)="drop($event)">
     <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
       <nbicon icon="" disabled></nbicon>
       {{node.filename}} : {{node.type}}
     </mat-tree-node>

     <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
       <button mat-icon-button matTreeNodeToggle
               [attr.aria-label]="'toggle ' + node.filename">
         <mat-icon class="mat-icon-rtl-mirror">
           {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
         </mat-icon>
       </button>
       {{node.filename}} : {{node.type}}
     </mat-tree-node>
   </mat-tree>
