.senderIcon{
  top: -2px;
    position: relative;
    color: #d2d24b;

  }

  .socialLink{
    cursor:pointer;
  }

.messageDisplayName{
  color: #d6d8dc !important;
padding-bottom: 5px !important;
}


.messageSenderStarIcon{
  color: #256dff !important;
}
