.senderIcon{
  top: -2px;
    position: relative;
    color: #d2d24b;

  }

  .socialLink{
    cursor:pointer;
  }

.messageDisplayName{
  color: #d6d8dc !important;
padding-bottom: 5px !important;
}


.messageSenderStarIcon{
  color: #256dff !important;
}


.emojiChunk{
  max-height: 22px;
 overflow: hidden;
 display: inline-block;
 padding: 0;
 margin: 0;
 position: relative;
 top: 5px;
 padding-left: 2px;
 padding-right: 2px;
}


.messagesInnerWrapper{
  display:inline-block;
}


.chunkContainer{
  display:inline-block;
}

.textChunk{
  display:inline-block;
  white-space:nowrap;
  padding-left: 2px;
  padding-right: 2px;
  max-height:22px;
}
