<nb-layout  class="channelScreen" >
  <nb-sidebar state="expanded" left tag="left" [fixed]="sideBarFixed.left">
    <button mat-stroked-button color="primary" (click)="toggleSideBar('left')" class="defaultSettingsButton thinOutlineButton" style="margin-right:24px;margin-left:0px;">Hide Panel</button>
    <button mat-stroked-button color="primary" (click)="lockSideBar('left', false)" class="defaultSettingsButton thinOutlineButton" *ngIf="sideBarFixed.left">Lock Panel</button>
    <button mat-stroked-button color="primary" (click)="lockSideBar('left', true)" class="defaultSettingsButton thinOutlineButton" *ngIf="!sideBarFixed.left">Float Panel</button>
    <app-channel-sidebar-left></app-channel-sidebar-left>
  </nb-sidebar>
  <nb-sidebar state="expanded" right tag="right" [fixed]="sideBarFixed.right" collapsed="true">
    <button mat-stroked-button color="primary" (click)="lockSideBar('right', false)" class="defaultSettingsButton thinOutlineButton" *ngIf="sideBarFixed.right" style="margin-left: 3px;margin-right: 21px;">Lock Panel</button>
    <button mat-stroked-button color="primary" (click)="lockSideBar('right', true)" class="defaultSettingsButton thinOutlineButton" *ngIf="!sideBarFixed.right" style="margin-left: 3px;margin-right: 21px;">Float Panel</button>
    <button mat-stroked-button color="primary" (click)="toggleSideBar('right')" class="defaultSettingsButton thinOutlineButton ">Hide Panel</button>

    <app-channel-sidebar-right *ngIf="selectedChannel != 'NoChannelSelected'"></app-channel-sidebar-right>
  </nb-sidebar>
  <nb-layout-column>
    <app-channel *ngFor="let channel of channelNameList"  [channel]="channel" class="channel" [hidden]="selectedChannel != channel"></app-channel>
    <app-channel [channel]="noChannelSelected" [hidden]="selectedChannel != noChannelSelected" class="channel"></app-channel>
  </nb-layout-column>
</nb-layout>

<div class="toggleSideBarRight toggleSideBarLeft" class="toggleSideBarLeft" (click)="toggleSideBar('left')" *ngIf="!this.sideBarVisible.left">
  <nb-icon icon="list-outline" ></nb-icon>
</div>

<div class="toggleSideBarRight" class="toggleSideBarRight" (click)="toggleSideBar('right')" *ngIf="!this.sideBarVisible.right && selectedChannel != 'NoChannelSelected'">
  <nb-icon icon="more-vertical-outline" ></nb-icon>
</div>
